.column {
  float: left;
  width: 100%;
  padding: 0.5%;
}
.is-one-quarter {
  width: 24%;
}
.is-one-third {
  width: 32.33%;
}
.is-one-half {
  width: 49%;
}
.is-two-thirds {
  width: 65.66%;
}
.is-three-quarters {
  width: 74%;
}
.is-two-fifths {
  width: 39%;
}
.center {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .is-one-quarter,
  .is-one-third,
  .is-one-half,
  .is-two-thirds,
  .is-three-quarters,
  .is-two-fifths {
    width: 100%;
  }
}
