/* Set a style for all buttons */
.button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.primary {
  background-color: navy;
  color: white;
}

.success {
  background-color: #4caf50;
  color: white;
}
.danger {
  background-color: #f44336;
  color: white;
}

/* Add a hover effect for buttons */
.button:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 768px) {
  .button {
    width: auto;
  }
}
